# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# =========================
# Models (CRITICAL)
# =========================
models/
*.pt
*.pth
*.bin
*.safetensors
*.ckpt

# =========================
# MLflow
# =========================
mlflow_runs/
mlruns/

# =========================
# Tensorboard
# =========================
logs/
runs/
events.out.tfevents*

# =========================
# Data (large/intermediate)
# =========================
data/raw/
data/debug/
data/probs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
